table,
tr,
td {
 border: 1px solid black;
 margin: auto;
 height: 50px;
 width: 200px;
}
table{
    border: 8px solid rgb(190, 18, 18);
}

.cell{
    text-align: center;
    background-color: lightgray;
    cursor: pointer;
    background-color: black;
    border-radius: 3px;
    
}